body {
  background-image: url(../assets/bg.svg);
  background-repeat: no-repeat;
  /* Ensure the size and position are set correctly */
  background-size: cover; /* or 100% 100%, depending on the desired effect */
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  text-align: center;
}

.title,
.fortune-display {
  color: #ffff;
}

.links-to-socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submit-icon-box {
  background-color: #ffff;
  color: #000000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.google-review {
  background-color: #ffff;
  color: #000000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.links-box,
a {
  display: flex;
  margin: 5px;
}

.flip-card-box {
  display: flex;
  justify-content: center;
}

.share-button {
  background-color: #ffffff;
  color: #000000;
  margin-top: 10px;
}
