/* FlipCard.css */

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.flip-card-front {
  background-color: #fff;
  color: black;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  background-image: url("../assets/Cherry.png");
  background-repeat: no-repeat;
  background-position: center;
}

.touch-icon {
  width: 30px;
}
.flip-card-back {
  background-color: #fff;
  width: 170px;
  height: 170px;
  color: black;
  transform: rotateY(180deg);
  z-index: 1;
  padding: 20px;
}

.wishes {
  font-size: 1.3rem;
}

.hand-gesture {
  margin-bottom: 4px;
}
