.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.snapshot-area {
  background-image: url("../assets/cherrybg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-card {
  display: flex;
  flex-direction: column;
  width: 290px;
  max-height: 450px;
  min-height: 400px;
  background-color: #32323285;
  border-radius: 20px;
  padding-top: 30px;
  margin-bottom: 100px;
}

.wish-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wishes {
  width: 220px;
  margin-top: 20px;
  color: white;
}

.mystic-mocha-text-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 15px 30px;
  font-size: small;
  filter: opacity(0.8);
}

.mystic-mocha-text-image b {
  font-weight: 900;
}

.mystic-mocha-text-image img {
  margin-right: 10px;
  width: 35px;
  height: auto;
}

.share-container {
  background-color: #252525;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  text-align: center; /* Center the content */
  padding: 10px 0;
}

.overlay {
  position: fixed; /* Fix the overlay position */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
